.home-list {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  padding-right: 15px;
  & li {
    padding: 10vh 0px;
    color: white;
    list-style: circle;
  }
  & li .list-hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    opacity: 0.5;
  }
  & li .list-hover:hover {
    opacity: 1;
    cursor: pointer;
    list-style: circle;
    font-weight: bold;
  }
}

.title-dissensium {
  margin-top: 200px;
  font-size: 11vw;
  color: white;
  text-shadow: 0px 0px 10px gray;
  text-transform: uppercase;
  font-family: 'Hammersmith One', sans-serif;
}

.dissensium-home-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  &:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}

.meeting-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1050px;
  padding-left: 15px;
  & li {
    list-style: none;
  }
  & li .meeting-hover {
    padding: 15vh 0px;
    opacity: 0;
    visibility: hidden;
  }
}

.dissensium-meeting-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
    &:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}

.about-content {
  background: rgba(0,0,0, 0.3);
  border-radius: 0 3px;
  border: 1px solid white;
  padding: 80px 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100vh;
  top: 14.5vh;
  height: 71vh;
  left: -1000px;
  transition: ease-out 1s;
  & p {
    opacity: 1;
    font-size: 15px;
    line-height: 30px;
  }
  & span {
    font-size: 30px;
    position: absolute;
    right: 4vh;
    top: 1vh;
  }
}

.p-concept {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 350px;
  font-weight: bold;
  animation: concept 5s infinite;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@keyframes concept {
  0% {opacity: 0.4}
  25% {opacity: 1}
  50% {opacity: 0.4}
  75% {opacity: 1}
  100% {opacity: 0.4}
}

.concept-content {
  background: rgba(0,0,0, 0.3);
  border-radius: 0 3px;
  border: 1px solid white;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100vh;
  top: 14.5vh;
  height: 71vh;
  left: -1000px;
  transition: ease-out 1s;
  & p {
    opacity: 1;
    font-size: 15px;
    line-height: 30px;
  }
  & span {
    font-size: 30px;
    position: absolute;
    right: 4vh;
    top: 1vh;
  }
}

.scroll {
  height: 150px;
  overflow-y: scroll;
}

.contact-content {
  background: rgba(0,0,0, 0.3);
  border-radius: 0 3px;
  border: 1px solid white;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100vh;
  top: 14.5vh;
  height: 71vh;
  left: -1000px;
  transition: ease-out 1s;
  & p {
    position: absolute;
    opacity: 0.8;
    font-size: 15px;
    top: 10vh;
  }
  & span {
    font-size: 30px;
    position: absolute;
    right: 4vh;
    top: 1vh;
  }
}
