.home-list {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  padding-right: 15px;
  & li {
    padding: 10vh 0px;
    color: white;
    list-style: circle;
  }
  & li .list-hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    opacity: 0.5;
  }
  & li .list-hover:hover {
    opacity: 1;
    cursor: pointer;
    list-style: circle;
    font-weight: bold;
  }
}

.dissensium-home-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  &:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}

.meeting-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1050px;
  padding-left: 15px;
  & li {
    list-style: none;
  }
  & li .meeting-hover {
    padding: 15vh 0px;
    opacity: 0;
    visibility: hidden;
  }
}

.dissensium-meeting-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
    &:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}

.about-content {
  background: rgba(0,0,0, 0.3);
  border-radius: 0 3px;
  border: 1px solid white;
  padding: 80px 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100vh;
  top: 14.5vh;
  height: 71vh;
  left: -1000px;
  transition: ease-out 1s;
  & p {
    opacity: 1;
    font-size: 15px;
    line-height: 30px;
  }
  & span {
    font-size: 30px;
    position: absolute;
    right: 4vh;
    top: 1vh;
  }
  & i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:50%;
    font-size: 30px;
  }
}

.concept-content {
  background: rgba(0,0,0, 0.3);
  border-radius: 0 3px;
  border: 1px solid white;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100vh;
  top: 14.5vh;
  height: 71vh;
  left: -1000px;
  transition: ease-out 1s;
  & p {
    position: absolute;
    opacity: 0.8;
    font-size: 15px;
    top: 10vh;
  }
  & span {
    font-size: 30px;
    position: absolute;
    right: 4vh;
    top: 1vh;
  }
}

.contact-content {
  background: rgba(0,0,0, 0.3);
  border-radius: 0 3px;
  border: 1px solid white;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100vh;
  top: 14.5vh;
  height: 71vh;
  left: -1000px;
  transition: ease-out 1s;
  & p {
    position: absolute;
    opacity: 0.8;
    font-size: 15px;
    top: 10vh;
  }
  & span {
    font-size: 30px;
    position: absolute;
    right: 4vh;
    top: 1vh;
  }
}
