.issue-list {
  border-right: 1px solid white;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  padding-right: 15px;
  & li {
    padding: 10vh 0px;
    color: white;
    list-style: circle;
  }
  & li .list-hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  & li .list-hover:hover {
    cursor: pointer;
    list-style: circle;
    font-weight: bold;
  }
}

.instructions-content {
  background: rgba(0,0,0, 0.3);
  border-radius: 0 3px;
  border: 1px solid white;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100vh;
  top: 14.5vh;
  height: 71vh;
  left: -1000px;
  transition: ease-out 1s;
  z-index: 1;
  & p {
    position: absolute;
    opacity: 0.8;
    font-size: 15px;
    top: 10vh;
  }
  & span {
    font-size: 30px;
    position: absolute;
    right: 4vh;
    top: 1vh;
  }
}

.meeting-user {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  border: 1px solid #093637;
  padding: 5px 10px;
  border-radius: 3px;
  background: #093637;
  color: white;
  font-weight: bold;
}

.meeting-title {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  max-width: 700px;
}

.meeting-url {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 3px;
  background: #44A08D;
  color: white;
  font-weight: bold;
}

.connected-user {
  list-style: none;
}

.connected-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-left: 15px;
}
