<div class="row">
  <div data-aos="zoom-in" class="col-xs-12 offset-md-1 col-md-10 transparent-container solution-container mb-5">
    <h3 class="text-center text-white border-bottom"><div class="asset-title">Creative results list</div></h3>
<% issue.solutions.each do |solution| %>

  <% if solution.bobby == " Excellent" %>
    <h3 class= "vote-content"><%=  solution.content  %></h3>
    <p class= "vote-content font-italic">Indice | <span class = "text-white font-italic""><%= solution.bobby  %></span></p>
  <% end %>
<% end %>

<% issue.solutions.each do |solution| %>
  <% if solution.bobby == " Très bien" %>
    <h3 class= "vote-content"><%=  solution.content %></h3>
    <p class= "vote-content font-italic">Indice | <span class = "text-white font-italic""><%= solution.bobby  %></span></p>
  <% end %>
<% end %>

