<div class="container">
  <ul class="">
  <li>
      <i class="fa fa-user"></i>
  </li>
  <li>
      <i class="fa fa-user"></i>
  </li>
  <li>
      <i class="fa fa-user"></i>
  </li>
  <li>
      <i class="fa fa-user"></i>
  </li>
</ul>
</div>
