    <div id="waiting-p-participant" class="landing-container">
      <h1 class="text-white text-center"><%= @issue.title %></h1>
      <div class="white-container landing-container">
        <div class="">
          <h4>WAITING PAGE</h4>
        </div>
      </div>
    </div>

