<div class="row">
  <div class="col-12 offset-md-1 col-md-10">
    <div class="start-container landing-container">
      <div id="waiting-p-participant">
        <h6 class="participants-title text-white"><strong>Hello </strong><strong class="text-uppercase"><%= current_user.username %> </strong> <strong>welcome onboard</strong><br>"<%= @issue.title %>"</h6>
        <div class="border-bottom mt-5"></div>
          <div data-aos="zoom-in" class="waiting-container">
            <h6 class="text-white text-center"><strong>Before start</strong> you have to wait the leader</h6>
          </div>
      </div>
    </div>
  </div>
</div>

