<div class="row">
  <div class="col-12 offset-md-1 col-md-10">
    <div class="start-container landing-container">
      <p data-aos="zoom-in" class="meeting-user">Bienvenue <%= current_user.username  %></p>
      <div id="waiting-p-participant">
        <h6 class="participants-title text-white"><strong>Vous venez de rejoindre le metting</strong> <br><br>"<%= @issue.title %>"</h6>
        <div class="border-bottom mt-5"></div>
          <div data-aos="zoom-in" class="waiting-container">
            <h6 class="text-white text-center"><strong>Avant de commencer </strong> vous devez attendre les autres participants</h6>
          </div>
      </div>
    </div>
  </div>
</div>

