<div class="row">
  <div class="col-12 offset-md-1 col-md-10">
    <div class="start-container landing-container mt-4">
      <p data-aos="zoom-in" class="meeting-user"><%= current_user.username  %></p>
      <h6 class="meeting-title text-white">You are the leader of "<%= @issue.title %>"</h6>
      <div class="border-bottom mt-5"></div>
      <div data-aos="zoom-in" class="url-container">
        <h6 class="text-center text-white"><strong>Before start</strong> share this URL with your collaborators</h6>
        <p class="meeting-url text-center">http://localhost:3000<%= issue_path(@issue) %></p>
      </div>
      <div data-aos="zoom-in" class="collaborators-container">
        <h6 class="text-center text-white"><strong>Wait</strong> until all collaborators are logged</h6>
      </div>

      <%= link_to "Start meeting", start_issue_path(@issue), method: :post, remote: true, class: "btn btn-start" %>
    </div>
  </div>
</div>
