    <div class="landing-container">
      <h1 class="text-white text-center"><%= @issue.title %></h1>
      <div class="white-container landing-container">
        <div id="start-meeting-btn" class="btn btn-start button-style">Start</div>
      </div>
    </div>
