<li class="connected-user" id="user<%= current_user_id %>">
   <i class="far fa-smile">
   </i>
   <span class="connected-text"><%= "#{current_user_username}" %> : <span class="text-color">connecté</span>
   </span>
</li>
