<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<div class="home-list">
  <ul>
    <li><div class="list-hover">About</div></li>
    <li><div class="list-hover">Concept</div></li>
    <li><div class="list-hover">Contact</div></li>
  </ul>
</div>

<div class="container">
 <h1 class="title-dissensium text-center ">Dissensium</h1>

 <div class="d-flex justify-content-around">
   <%= link_to "Create a meeting", new_issue_path, class: "dissensium-home-link" %>
   <%= link_to "Join a meeting", root_path, class: "dissensium-home-link" %>
 </div>
</div>
