<%= render 'shared/navbar-logo' %>
<%= render 'shared/flashes' %>

<div class="container">
  <div class="row">
    <div data-aos="zoom-in" class="col-xs-12 offset-md-3 col-md-6 white-container container-margin">
      <h2 class="text-center">Rejoindre un meeting</h2>
      <label for="url"></label>
      <input class="form-control devise-meeting-style text-center join-input" type="url" name="url" id="join-url" placeholder="Copiez l'url juste ici" required>
    </div>
  </div>
</div>

<script>
  const input = document.getElementById("join-url")

  input.addEventListener("keypress", (event) => {
    if(event.key === "Enter") {
      window.location = input.value
    }
  });
</script>
