.btn-start{
  position: absolute;
  bottom: 40px;
  right: 70px;
  width: 25%;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #093637;
  background: #093637;
  color: white;
  &:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: none;
  }
}

.button-style-signup {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.button-style-signup:hover {
  color: white;
  text-decoration: underline;
}

.button-style-log {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  border: 1px solid white;
  color: white;
  &:hover {
    background: white;
    color: #44A08D;
    border-color: white;
  }
}

.button-style {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background: transparent;
  color: #093637;
  &:hover {
    background: #093637;
    border:none;
    color: white;
  }
}

.button-style-edit {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #093637;
  background: #093637;
  color: white;
  width: 120px;
  position: absolute;
  right: 40px;
  top: 280px;
  &:hover {
    text-decoration: none;
    background: transparent;
    border: 1px solid white;
    color: white;
  }
}

.btn-send {
  width: 25%;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #093637;
  background: #093637;
  color: white;
  &:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
  }
}

.btn-vote {
  padding: 0 20px;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  border: 1px solid white;
  color: white;
  &:hover {
    background: white;
    color: #44A08D;
    border-color: white;
  }
}

.btn-step {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.margin {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.collection_radio_buttons {
  margin: 0 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 14px;
}

.btn-support{
  position: absolute;
  top: 70px;
  left: 60px;
  width: 10%;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #093637;
  background: #093637;
  color: white;
  &:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: none;
  }
}
