.message {
  display: flex;
  margin-bottom: 10px;
  color: white;
  &.right {
    flex-direction: row-reverse;
    .solution-content {
      text-align: right;
      background: rgba(255, 255, 255, 0.3);
      border: none;
      border-radius: 3px;
    }
  }
}
.solution-content {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  border-radius: none;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}
.solution_content {
  margin-bottom: 0;
}
input.chat-form {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
.chat-header {
  background-color: #4F2F4C;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}
