.transparent-container {
  background: transparent;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid rgba(255,255,255, 0.3);
  font-family: 'Hammersmith One', sans-serif;
  & h2 {
    color: white;
  }
}

.container-margin {
  margin-top: 20vh;
}

.container-overflow {
  overflow: scroll;
  height: 250px;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 2px;
}

.hidden-container{
  display:none;
}
