.white-container {
  background: white;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px gray;
  text-transform: uppercase;
  font-family: 'Hammersmith One', sans-serif;
}

.container-overflow {
  overflow: scroll;
  height: 250px;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 2px;
}
