.label-style {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.label-style-devise {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.devise-meeting-style {
  margin-bottom: 20px;
}

.devise-style {
  margin-bottom: 10px;
  background: transparent;
  color: white;
  &:focus {
    background: rgba(255,255,255, 0.3);
    caret-color: white;
    color: white;
  }
}

.forgot-password-link {
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  &:hover {
    color: black;
  }
}

.form-check-label {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  & .field {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 3px;
    background: white;
    color: #44A08D;
    font-weight: bold;
  }
}

.user_avatar {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin-top: 50px;
}

.support-field {
  font-size: 12px;
  margin-bottom: 70px;
}
