<div id="waiting-p-participant" class="landing-container">
  <h1 class="text-white text-center"></h1>
  <div class="white-container landing-container">
    <div class="">
      <h4>Thanks for your vote, waiting for next step</h4>
    </div>
  </div>
</div>


