<% if !local_assigns[:leader] %>
  <div class="row">
    <div class="col-12 offset-md-1 col-md-10">
      <div id="waiting-p-participant" class="start-container landing-container">
        <div data-aos="zoom-in" class="waiting-container">
          <h6 class="text-white text-center">Don't panic, <strong>before continue</strong> you have to wait the leader</h6>
        </div>
     </div>
    </div>
  </div>
<% end %>