<% if !local_assigns[:leader] %>
  <div id="waiting-p-participant" class="landing-container">
    <h1 class="text-white text-center"></h1>
    <div class="white-container landing-container">
      <div class="">
        <h4>Thanks for your submit, waiting for next step</h4>
      </div>
    </div>
  </div>
<% end %>
